# Ignore these files when committing to git
**/__pycache__
**/.ipynb_checkpoints
**.DS_Store
**.vscode
**.pyc
**.idea**
**/_gitignore**
medicine_demos/medicine_output
medicine_demos/tmp_dataset
medicine_neuro.egg-info
dist
build
.jekyll-cache
_site
