---
---

@import "{{ site.theme }}";

// Set background to white because figures and gifs have white background
#main_content_wrap {
    background: #ffffff;
}

// Remove shadows around images and code
img {
    box-shadow: 0 0 0px #ebebeb;
    -webkit-box-shadow: 0 0 0px #ebebeb;
    -moz-box-shadow: 0 0 0px #ebebeb;
    -o-box-shadow: 0 0 0px #ebebeb;
    -ms-box-shadow: 0 0 0px #ebebeb;
}
code {
    box-shadow: 0 0 0px rgba(0,0,0,.1);
}

// Allow wide margins
.inner {
    max-width: 70%;
}
